<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
      <div class="card-header bg-warning d-flex justify-content-between align-items-center">
             <h2>Add a new address</h2>
              <%= link_to 'Back', user_addresses_path, class: 'btn btn-secondary' %>
        </div>
          <div class="card-body">
            <%= form_with(model: @user_address, url: user_addresses_path , local: true) do |form| %>
               <% if @user_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_address.errors.count, "error") %> prohibited this user address from being saved:</h2>
      <ul>
        <% @user_address.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <%end%>
            
              <div class="form-group">
                  <%= form.label :address_name, "Name <span class='text-danger'>*</span>".html_safe %>
                  <%= form.text_field :address_name, class: "form-control", required: true %>
              </div>

            <div class="form-group">
              <%= form.label :address_contact_number,"Contact Number <span class='text-danger'>*</span>".html_safe%>
              <%= form.number_field :address_contact_number, class: "form-control", required: true, placeholder: 'xxx-xxx-xxxx'  %>
            </div>
            <div class="form-group">
              <%= form.label :pincode, "Pincode <span class='text-danger'>*</span>".html_safe%>
              <%= form.number_field :pincode, class: "form-control", required: true, placeholder: 'xxx-xxx'  %>
            </div>
            <div class="form-group">
              <%= form.label :state, "State <span class='text-danger'>*</span>".html_safe%>
              <%= form.text_field :state, class: "form-control", required: true %>
            </div>
               <div class="form-group">
              <%= form.label :address, "Street, Apartment ( House no, Building no.) <span class='text-danger'>*</span>".html_safe%>
              <%= form.text_area :address, class: "form-control", required: true %>
            </div>
            <div class="form-group">
              <%= form.label :locality, "Locality <span class='text-danger'>*</span>".html_safe%>
              <%= form.text_field :locality, class: "form-control", required: true %>
            </div>

            <div class="form-group">
              <%= form.label :city, "City <span class='text-danger'>*</span>".html_safe%>
              <%= form.text_field :city, class: "form-control", required: true %>
            </div>
              <%= form.check_box :is_default %>
                <%= form.label :is_default, "Set as Default" %> <br>
            <div class="form-group text-center">
              <%= form.submit "Add Address",class: "btn btn-success"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



