<!DOCTYPE html>
<html>
<head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      font-family: Arial, sans-serif;
      background-color: #F4F4F4;
      text-align: center;
    }
    h3 {
      color: #333;
    }
    .form-container {
      max-width: 400px;
      margin: 20px auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    input, textarea, select, button {
      /* width: 100%; */
      padding: 10px;
      margin-bottom: 15px;
      box-sizing: border-box;
    }
    button {
      background-color: #3498DB;
      color: #fff;
      border: none;
      padding: 12px;
      cursor: pointer;
      border-radius: 4px;
      text-align: center;
    }
    button:hover {
      background-color: #2980B9;
    }
  </style>
</head>
<body>
<div class="form-container">
  <h3>Update User Profile</h3>
  <%= form_with model: @profile do |form| %><br>
    <%= form.text_field :name, placeholder: :Name, class: "form-control"%><br><br>
    <%= form.select :gender, [['Male', :male], ['Female', :female]], class: "form-control"%><br><br>
    <%= form.number_field :contact_number, placeholder: :Contact_Number, class: "form-control"%><br><br>
    <%= form.text_area :address, placeholder: :Address ,class: "form-control"%><br><br>
    <%= form.submit "Update Profile", class: "form-control"%>
  <% end %>
</div>
</body>
</html>







