<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
        margin:auto;
      font-family: Arial, sans-serif;
      background-color: #F5F5F5; /* Set a light background color for the entire page */
      /* display: flex; */
      align-items: center;
      justify-content: center;
      /* height: 100vh; */
    }
    .form_container {
      background-color: #FFFFFF; /* Set a white background color for the form container */
      width: 800px;
      padding: 20px; /* Add padding to the form container */
      border-radius: 8px; /* Add rounded corners to the form container */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    }
    h1 {
      text-align: center;
      margin-bottom: 20px; /* Add some space below the heading */
      color: #3498DB; /* Set a blue color for the heading */
    }
    button {
      display: block;
      width: 100%;
      margin-top: 20px;
      border: none;
      background-color: #3498DB;
      color: white;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      font-size: 14px;
      cursor: pointer;
      border-radius: 4px;
    }
    button:hover {
      background-color: #2980B9;
    }
    h1{
        font-size:44px;
        font-weight: bold;
    }
  </style>
</head>
<body>
  <div class="form_container ", style='margin:0px 500px;'>
  <h1 style=' font-weight:bold;'>User Information</h1>
  <hr>

    <% if current_user.profile.present? %>
      <p><strong>Name : </strong> <%= @profile.name %></p>
      <p><strong>Gender :</strong> <%= @profile.gender %></p>
      <p><strong>Contact Number :</strong> <%= @profile.contact_number %></p>
      <p><strong>Email :</strong> <%= current_user.email %></p>
      <p><strong>Address :</strong> <%= @profile.address %></p>
      <a href="<%= edit_profile_url(@profile) %>" class='btn btn-primary'>Edit</a>
      <%= link_to "Change Password", edit_user_registration_path, class:'btn btn-primary' %>
    <% end %>

  </div>
</body>
</html>