<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
      <div class="card-header"><h2>Add Profile</h2></div>
      <div class="card-body">
        <%= form_with(model: @profile, local: true) do |form| %>
            <% if @profile.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@profile.errors.count, 'error') %> prohibited this company_detail_pah from being saved:</h2>
                <ul>
                  <% @profile.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="form-group">
              <%= form.label :User_Name %>
              <%= form.text_field :name,  class: "form-control"%>
            </div>
            <div class="form-group">
              <%= form.label :Gender%>
              <%# <%= form.select :profile_gender, ['Male', 'Female'], prompt: 'Select gender', class: "form-control" %>
              <%= form.select :gender, [['Male', :male], ['Female', :female]] %>
            </div>
            <div class="form-group">
              <%= form.label :Contact_Number %>
              <%= form.number_field :contact_number, class: "form-control" %>
            </div>
               <div class="form-group">
              <%= form.label :Address%>
              <%= form.text_area :address, class: "form-control" %>
            </div>
            <div class="form-group text-center">
              <%= form.submit "ADD PROFILE", class: "btn btn-primary"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



