<!DOCTYPE html>
<html lang="en">
<head>
    <title>ECOMMERCE Website</title>
 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity=""
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity=""
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity=""
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    <style>

        *{
            margin:0;
            padding:0;
            box-sizing:0px;
        }
        .row {
            margin-left: 0;
            margin-right: 0;
            overflow: hidden;
        }

        .col-lg-4 {
            padding: 0;
        }

        .card {
            position: relative;
            overflow: hidden;
            transition: transform 0.7s ease;
            border: none;
            margin-bottom: 20px;
        }

        .card:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .card-body {
        padding: 10px;
        }

        .card a:hover {
            text-decoration: none;
        }
        .stylish-link {
            color: black;
            text-decoration: none; 
            # font-weight: bold; 
            font-size: 16px; 
            transition: color 0.3s ease; 
        }

        .card a {
            display: flex;
            color: black;
            text-decoration: none; 
            # font-weight: bold; 
            font-size: 16px; 
            font-family: 'Your Custom Font', sans-serif; 
            transition: color 0.3s ease; 
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        .card {
        position: relative;
        overflow: hidden;
        }
        .card{
        transition: transform 0.7s ease;
        }
        .card:hover {
        transform: scale(1.1);
        }
        .card img{
            width: 170px;
            height: 170px;
            padding: 5px;
        }
        .myclass{
            font-size: 55px;
            font-weight: bold;
        }

    </style>
</head>



<body style="font-family: 'Mukta', sans-serif;">

<% if !user_signed_in? ||  current_user.role == "buyer" %>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
        <div class="carousel-item active">
            <%= image_tag "1.jpg", class:"d-block w-100", style:'height:700px;'%>
        </div>
        <div class="carousel-item">
            <%= image_tag "2.jpg", class:"d-block w-100", style:'height:700px;' %>
        </div>
        <div class="carousel-item">
            <%= image_tag "3.jpg", class:"d-block w-100", style:'height:700px;' %>
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <% if !user_signed_in? %>
    <div class="container">
        <div class="row mt-4 text-center" style="margin-left:0px; margin-right:0px; overflow:hidden;">
            <h1 class='text-center myclass my-4'>Our <span style='color:orangered;'>Pro</span>ducts</h1>

                <div class="col-lg-4 p-3">
                    <div class="card">
                        <div class="card-body">
                            <%= image_tag "clo1.png", width: 260 %>
                            <a class="p-2 arrow-link" href="<%= clothing_path %>">Clothings
                            <i class="fa-solid fa-arrow-right px-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-3">
                    <div class="card">
                        <div class="card-body">
                            <%= image_tag "electro.png", width: 330 %>
                            <a class="p-2 arrow-link" href="<%= electronic_path%>">Electronics
                            <i class="fa-solid fa-arrow-right px-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-3">
                    <div class="card">
                        <div class="card-body">
                            <%= image_tag "book.jpg", width: 180 %>
                            <a class="p-2 arrow-link" href="<%= book_path%>">Books
                            <i class="fa-solid fa-arrow-right px-2"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-2 text-center" style="margin-left:0px; margin-right:0px; overflow:hidden;">

                <div class="col-lg-4 p-3">
                    <div class="card">
                        <div class="card-body">
                            <%= image_tag "shoes.avif", width: 280 %>
                            <a class="p-2 arrow-link" href="<%= footwear_path%>"> Footwears
                            <i class="fa-solid fa-arrow-right px-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-3">
                    <div class="card">
                        <div class="card-body">
                            <%= image_tag "watch.jpg", width: 175 %>
                            <a class="p-2 arrow-link" href="<%= watch_path%>">Watch
                            <i class="fa-solid fa-arrow-right px-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-3">
                    <div class="card">
                        <div class="card-body">
                            <%= image_tag "bag.jpg", width: 265 %>
                            <a class="p-2 arrow-link" href="<%= bag_path%>">Bags
                            <i class="fa-solid fa-arrow-right px-2"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    <%else%>
        <% if current_user.role == "buyer" %>
            <div class="container">
            <div class="row mt-4 text-center" style="margin-left:0px; margin-right:0px; overflow:hidden;">
                <h1 class='text-center myclass my-4'>Our <span style='color:orangered;'>Pro</span>ducts</h1>

                    <div class="col-lg-4 p-3">
                        <div class="card">
                            <div class="card-body">
                                <%= image_tag "clo1.png", width: 260 %>
                                <a class="p-2 arrow-link" href="<%= clothing_path %>">Clothings
                                <i class="fa-solid fa-arrow-right px-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 p-3">
                        <div class="card">
                            <div class="card-body">
                                <%= image_tag "electro.png", width: 330 %>
                                <a class="p-2 arrow-link" href="<%= electronic_path%>">Electronics
                                <i class="fa-solid fa-arrow-right px-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 p-3">
                        <div class="card">
                            <div class="card-body">
                                <%= image_tag "book.jpg", width: 180 %>
                                <a class="p-2 arrow-link" href="<%= book_path%>">Books
                                <i class="fa-solid fa-arrow-right px-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mt-2 text-center" style="margin-left:0px; margin-right:0px; overflow:hidden;">

                    <div class="col-lg-4 p-3">
                        <div class="card">
                            <div class="card-body">
                                <%= image_tag "shoes.avif", width: 280 %>
                                <a class="p-2 arrow-link" href="<%= footwear_path%>"> Footwears
                                <i class="fa-solid fa-arrow-right px-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 p-3">
                        <div class="card">
                            <div class="card-body">
                                <%= image_tag "watch.jpg", width: 175 %>
                                <a class="p-2 arrow-link" href="<%= watch_path%>">Watch
                                <i class="fa-solid fa-arrow-right px-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 p-3">
                        <div class="card">
                            <div class="card-body">
                                <%= image_tag "bag.jpg", width: 265 %>
                                <a class="p-2 arrow-link" href="<%= bag_path%>">Bags
                                <i class="fa-solid fa-arrow-right px-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        <%end%>
    <%end%>
    <%end%>

 
    <% if user_signed_in? %>
    <% if current_user.role == "seller" %>
    <div class='container-fluid'>
    <h1 class='text-center myclass mb-3'>Our <span style='color:orangered;'>Pro</span>ducts</h1>
    <table class='table table-striped table-bordered'>
    
    <%= link_to "Add New Product", new_product_path, class: 'btn btn-primary btn-sm m-2 float-right' %>
      <thead class="bg-light">
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% current_user.products.each do |product| %>
          <tr>
            <% if product.image.attached? %>
            <td><%= image_tag product.image, style: ' width:100px;' %></td>
            <%end%>

            <td><%= product.name %></td>
            <td><%= product.description %></td>
            <td><%= number_to_currency(product.price) %></td>
            <td>
                <%= link_to "Edit", edit_product_path(product), class: 'btn btn-primary btn-sm' %>
                <%= link_to 'Delete', product_path(product), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger btn-sm' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= form_with url: import_products_path, local: true do |form| %>
        <%= form.file_field :file %>
        <%= form.submit %>
    <% end %>
    </div>

    <%end%>
<%end%>

<% if user_signed_in? && current_user.role == 'admin'%>
 <%= render 'admin' %>
    
 <%end%>
</body>
</html>